.search {
    display: flex;
    align-items: center;
    position: relative;
}

.search__input {
    width: 100%;
    border-radius: 24px;
    border-style: none;
    outline: none;
    font-size: 16px;
    padding: 12px 20px;
    background-color: #FFF;
}

.search__input:focus {
    background-color: #fff;
    border: 1px solid #FFE44D;
}

.search__btn {
    padding: 0;
    position: absolute;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    display: flex;
}
